.productListItemWrapper {
  width: 100%;
  min-height: 200px;
  background: #fff;
  border-bottom: 1px solid #efefef;
  margin-bottom: 12px;
  box-shadow: 1px 2px 7px 1px #dcdbdb;

  .productDetails {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;

    .imageWrapper {
      width: 33.3%;

      img {
        max-width: 100%;
        max-height: 120px;
      }
    }

    .detailsWrapper {
      width: 66.7%;
      padding: 0 15px;

      .productTitle {
        width: 100%;

        h4 {
          font-size: 14px;
          font-weight: 600;
          margin: 0;
          color: #766e6e;
        }

        h5 {
          margin: 0;
          color: #51b4b7;
        }
      }

      .price {
        font-size: 20px;
        font-weight: 600;
        margin: 10px 0 5px;
        display: flex;
        flex-direction: row;

        .mrp {
          text-decoration: line-through;
          color: #837979;
          margin-left: 10px;
        }
      }

      .stars {
        width: 100%;
        color: rgb(145, 220, 222);
      }
    }
  }

  .productActions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    
    .ctaBuy {
      width: 100%;
      height: 56px;
      background: rgb(54, 207, 209);
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: -1px;
      font-size: 15px;
      line-height: 56px;

      &:active {
        transform: scale(0.98);
        transition: transform .1s ease-out;
      }
    }
  }
}