.filtersPanelWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: #fff;
  overflow-y: scroll;

  header {
    width: 100%;
    height: 56px;
    background: rgb(54, 207, 209);
  }

  footer {
    width: 100%;
    height: 56px;
    background: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: -1px -1px 10px 1px #e0dfdf;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0 5px;
  }

  .cartHeader {
    width: 100%;
    height: 56px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0;
    padding: 0 20px;
  }

  .productList {
    width: 100%;
    background: #f7f6f6;
    min-height: 200px;
  }

  .emptyCartWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 40px 50px;
    text-align: center;
    font-size: 14px;
  }

  .cartDetails {
    width: 100%;
    background: #f7f6f6;
    padding: 15px;
    font-size: 14px;
    font-weight: 600;

    .cartDetailsRow {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 5px;
    }

    .cartDetailsRowTotal {
      margin-top: 12px;
      border-top: 1px dotted #ccc;
      padding: 8px 0;
    }
  }

  .checkoutWrapper {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 10px;    
  }
}