.filtersPanelWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: #fff;

  header {
    width: 100%;
    height: 56px;
    background: rgb(54, 207, 209);
  }

  footer {
    width: 100%;
    height: 56px;
    background: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: -1px -1px 10px 1px #e0dfdf;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0 5px;
  }

  .filtersPanelContent {
    width: 100%;
    height: 100%;
    padding-bottom: 60px;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;

    :global {
      .filtersPanelCat {
        width: 35%;
        height: 100%;
        background: #eeeeee;
  
        ul {
          padding: 10px 0 10px 10px;
  
          li {
            width: 100%;
            border-bottom: 1px solid #eaeaea;
            padding: 15px;
            margin-bottom: 4px;
            font-size: 12px;
            border-radius: 7px 0 0 7px;
  
            &.active {
              background: #fff;
            }
          }
        }
      }
    }
  }

  .filtersPanelFilters {
    width: 65%;
    padding: 15px;
    height: 85%;
    overflow-y: scroll;

    ul {
      padding: 10px;

      li {
        width: 100%;
        padding: 5px;
        margin-bottom: 4px;
        font-size: 15px;

        label {
          font-size: inherit;
          font-weight: inherit;
          color: currentColor;

          input {
            margin-right: 10px;
          }
        }
      }
    }
  }
}