.buttonWrapper {
  .genericButton {
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: inherit;
    outline: none;
    color: currentColor;

    &:active {
      transform: scale(0.98);
      transition: transform .18s ease-out;
    }

    i { 
      margin-right: 10px;
    }
  }
}