.header {
  margin-bottom: 30px;
  background: #fff;
  height: 56px;
  width: 100%;
  box-shadow: 1px 1px 5px 1px #ccc;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;

  .hamburger {
    width: 56px;
    height: 56px;
    text-align: center;
    font-size: 28px;
    line-height: 56px;
  }

  .headerText {
    font-size: 18px;
    letter-spacing: -1px;
    font-weight: 700;
    line-height: 56px;
    color: #fc2779;
  }

  .bag {
    font-size: 28px;
    position: absolute;
    right: 10px;
    width: 56px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    color: rgb(54, 207, 209);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .productsIndicator {
      width: 22px;
      height: 22px;
      background: #fc2878;
      color: #fff !important;
      font-size: 14px;
      border-radius: 50%;
      line-height: 22px;
      font-weight: bold;
      text-align: center;
    }
  }
}