html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #eeeeee;
	font-family: 'Open Sans', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
	width: 100%;
	position: relative;
}

:global {
	.noselect {
		-webkit-touch-callout: none; /* iOS Safari */
			-webkit-user-select: none; /* Safari */
			 -khtml-user-select: none; /* Konqueror HTML */
				 -moz-user-select: none; /* Firefox */
					-ms-user-select: none; /* Internet Explorer/Edge */
							user-select: none; /* Non-prefixed version, currently
																		supported by Chrome and Opera */
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	input[type="text"] {
		width: 60%;
		padding: 12px 14px;
		border: 1px solid #dcdcdc;
		font-size: 16px;
	}
}