.productListItemWrapper {
  width: 100%;
  min-height: 135px;
  background: #fff;
  border-bottom: 1px solid #efefef;
  margin-bottom: 12px;
  box-shadow: 1px 2px 7px 1px #dcdbdb;
  position: relative;

  .deleteIcon {
    font-size: 22px;
    color: #77706f;
    position: absolute;
    top: 5px;
    right: 15px;
  }

  .productDetails {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    .imageWrapper {
      width: 25%;

      img {
        max-width: 100%;
        max-height: 120px;
      }
    }

    .detailsWrapper {
      width: 75%;
      padding: 0 15px;

      .productTitle {
        width: 100%;

        h4 {
          font-size: 12px;
          font-weight: 600;
          margin: 0;
          color: #766e6e;
          padding-right: 20px;
        }

        h5 {
          margin: 0;
          color: #51b4b7;
        }
      }

      .price {
        font-size: 15px;
        font-weight: 600;
        margin: 5px 0;
        display: flex;
        flex-direction: row;

        .mrp {
          text-decoration: line-through;
          color: #837979;
          margin-left: 10px;
        }
      }

      .stars {
        width: 100%;
        color: rgb(145, 220, 222);
      }

      .quantity {
        margin: 10px 0;

        select {
          border: 1px solid #ccc;
          padding: 4px;
          text-align: center;
          position: relative;
          border-radius: 4px;
        }
      }
    }
  }

  .productActions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    
    .ctaBuy {
      width: 100%;
      height: 56px;
      background: rgba(136, 217, 218, 0.92);
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: -1px;
      font-size: 15px;
      line-height: 56px;
    }
  }
}